<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="Data Vlaanderen" >
</AuMainHeader>
<div class="au-o-layout">
{{yield}} 
</div>
<div class="main_nav">
<ul class="au-o-region">
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="besturen" {{on "click" this.clear}}>
      | Samenstelling<br>
        College van Burgemeester en Schepenen<br>
        Gemeenteraad
    </AuNavigationLink>
  </li>
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="agenda" {{on "click" this.clear}}>
      | Agenda
    </AuNavigationLink>
  </li>
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="besluiten" {{on "click" this.clear}}>
      | Besluiten
    </AuNavigationLink>
  </li>
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="archieven" {{on "click" (fn this.clear this.gemeente)}}>
      | Archief besluiten
    </AuNavigationLink>
  </li>
</ul>
</div>