{{!-- <p class="d3-hello" {{did-insert this.hello}}></p> --}}
{{!-- <div class="search">
<AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
<PowerSelect
  @width="block"
  title="kie gemeente" 
  @icon="search"
  @allowClear={{true}}
  @disabled={{this.disabled}}
  @searchEnabled={{true}}
  @loadingMessage="Aan het laden..."
  @noMatchesMessage="Geen resultaten"
  @searchMessage="Typ om te zoeken"
  @options={{this.singleselects}}
  @selected={{this.selected}}
  @onChange={{this.onChange}}
  @placeholder="Gemeente" as |singleselect|>
  {{singleselect}}
</PowerSelect>
</div> --}}
<div id="tooltip" {{!-- class="au-c-loader" --}}>
</div>
<div class="bp-map" {{ did-insert  this.initMap }} {{on "click" this.map.addItem}}>
</div >


