{{!-- template-lint-disable no-log --}}

{{!-- Fretch data from component --}}
{{!-- 
<AuButtonGroup>
{{#each this.year as |year|}}
<AuButton @skin="secondary" class="au-u-bold">
<div class="year {{this.active}}" {{on "click" this.isOpen}}>{{year}}</div>
</AuButton>
{{/each}}
</AuButtonGroup> 
<div class="{{this.visible}}">
{{#each this.month as |month|}}
<AuButton class="month" {{on "click" this.isOpening}}>{{month}}</AuButton>
{{/each}}
</div>
<div class="details {{this.visibly}}">
<div class="details-list">
<h2 class="au-u-bold">Milieu- en afvalbeleid</h2>
{{#each this.datas_bestemmen as |bestemmen|}}
{{#each this.datas_aanwezigen as |aanwezigen|}}
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{bestemmen.geplandeStart}}</span> 
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">Time | Location</span><br>
<p>{{aanwezigen.aanwezigenInfo}}</p>
{{/each}}
<AuCard @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
  <c.header @badgeSkin="brand" >
    <AuHeading @level="6" @skin="6" class="au-card_text-blue">
    {{bestemmen.bestuursclassificatie}}
    </AuHeading>
  </c.header>
  <c.content>
{{#each bestemmen.details as |details|}}
<p><br>
<div class="stemming"><span class="circle circle__green"></span> {{bestemmen.nbPro.value}}</div> 
<div class="stemming"><span class="circle circle__orange"></span> {{bestemmen.nbNoVote.value}}</div>
<div class="stemming"><span class="circle circle__red"> </span> {{bestemmen.nbAnti.value}}</div>
<p class="au-u-bold">{{details.title.value}}</p> <br> 
{{details.motivering.value}}
</p>
{{/each}}
</c.content>
</AuCard>
{{/each}}
<br>
</div>
</div>
 --}}

{{log @model.bestuurseenheidnaam}}
<p>{{@bestuurseenheidnaam}}</p>

<div class="au-u-regular">
{{#each @getArchieven.stemming_years as |groupAanwezige|}}
<AuCard @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
  <c.header @badgeSkin="brand" >
    <AuHeading @level="6" @skin="6" class="au-card_text-blue">
      {{groupAanwezige.geplande_Year}}
    </AuHeading>
  </c.header>
  {{!-- Dit head voor year --}}
{{#each @getArchieven.stemming_years as | details|}}
{{#if (is-equal groupAanwezige.geplande_Year details.geplande_Year)}}
{{#if (is-equal groupAanwezige.geplande_Month details.geplande_Month)}}
<c.content>
<AuCard class="au-card-no-border" @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
  <c.header @badgeSkin="brand" >
    <AuHeading @level="6" @skin="6" class="au-card_text-blue">
      {{details.geplande_Month}} {{details.geplande_Year}} 
    </AuHeading>
  </c.header>
{{!-- Dit head voor month --}}
{{!-- start from besluit --}}
{{#each @getArchieven.groupStemming as |geplande|}}
{{#if (is-equal details.geplande_Year geplande.geplande_Year)}}
{{#if (is-equal details.geplande_Month geplande.geplande_Month)}}
<c.content>
<AuContent>
<div class="aanwezig">
<span class="au-u-bold">Zitting</span>
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Date}} {{geplande.geplande_Month}} {{geplande.geplande_Year}}</span> 
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Time}} | {{geplande.location.value}}</span><br>
{{#if (gt geplande.count 1)}}
<span class="au-u-bold">Aanwezig {{geplande.count}} personen </span>
{{/if}}
{{geplande.aanwezigenInfo}}
</div>
</AuContent>
<AuCard @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
<c.header @badgeSkin="brand" >
  <AuHeading @level="6" @skin="6" class="au-card_text-blue">
    {{geplande.bestuursclassificatie}} ({{geplande.details.length}})
  </AuHeading>
</c.header>
{{#each geplande.details as | details|}}
<c.content>
<p><br>
<div class="stemming"><span class="circle circle__green"></span> {{details.nbPro.value}}</div> 
<div class="stemming"><span class="circle circle__orange"></span> {{details.nbAnti.value}}</div>
<div class="stemming"><span class="circle circle__red"> </span> {{details.nbNoVote.value}}</div>
<span class="au-u-medium">{{details.title.value}}</span> <br>
{{#if details.description.value}}
<span class="au-u-medium">Description:</span> {{details.description.value}} <br>
{{/if}}
{{#if details.motivering.value}}
<span class="au-u-medium">Motivering:</span> {{details.motivering.value}}
{{/if}}
</p>
</c.content>
{{/each}}
</AuCard>
<a href="#toTop"class="toTop"><AuIcon @icon="nav-up" @alignment="right" @size="large" @ariaHidden={{true}} /></a>
</c.content>
{{/if}}
{{/if}}
{{/each}}
{{!-- end from besluit --}}
</AuCard>
</c.content>
{{/if}}
{{/if}}
{{/each}}
</AuCard>
<br>
{{/each}}
</div>






