<div class="au-c-form">
  <AuToggleSwitch 
  @label="click to see the gemeente on the right side map" @disabled={{false}} 
  @name="switch-left-right"
  @identifier={{this.identifier}}
  @checked={{this.checked}}
  @onChange={{this.onChange}}
  />
</div>
<div class="indexpage au-u-regular {{this.identifier}}">
  {{!-- template-lint-disable no-invalid-interactive --}}
  <div class="toggle" {{on "click" this.toggleClose}}></div>
  <div class="head_cut">
<span class="au-u-bold"> {{@getGemeente}}</span> | Inwoners : {{@getPopulation}}<br>
<hr>
</div>
</div>
{{!-- Page agenda --}}
<div class="agenda au-u-regular {{this.identifier}}">
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="toggle" {{on "click" this.toggleClose}}></div>
<div class="head_cut">
<span class="au-u-bold"> {{@getGemeente}}</span> | Inwoners : {{@getPopulation}}<br>
<hr>
<span class="au-u-bold">Agenda</span><br>
<ul class="agendalist">
{{#each @getAgenda.groupAgenda as |geplande|}}
<li>{{geplande.geplande_Date}} {{geplande.geplande_Time}} | {{geplande.location.value}}</li>
{{/each}}
</ul>
<span class="au-u-bold">Agendalist</span><br>
{{#each @getAgenda.groupAgenda as |geplande|}}
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Date}}</span> 
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Time}} | {{geplande.location.value}}</span><br>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="{{geplande.bestuursclassificatie}} ({{geplande.details_Agenda.length}})">
{{#each geplande.details_Agenda as | details|}}

<p><span class="au-u-bold">{{details.title_agenda.value}}</span> <br> 
{{details.description.value}} 
</p>

{{/each}}
</AuAccordion>
{{/each}}
</div>
</div>

{{!-- Page besluiten --}}
<div class="besluit au-u-regular {{this.identifier}}">
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="toggle" {{on "click" this.toggleClose}}></div>
<div class="head_cut">
<span class="au-u-bold"> {{@getGemeente}} </span> | Inwoners : {{@getPopulation}}<br>
<hr>

{{#each @getBesluiten.groupAanwezige as |groupAanwezige|}}
<div>
<span class="aanwezig">
<span class="au-u-bold">Zitting</span>
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{groupAanwezige.geplande_Date}}</span> 
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{groupAanwezige.geplande_Time}} | {{groupAanwezige.location.value}}</span><br>
<span class="au-u-bold">Aanwezig {{groupAanwezige.naam_aanwezige.length}} personen </span>
{{#each groupAanwezige.naam_aanwezige as |naam_aanwezige|}}
{{naam_aanwezige.agendapunt_aanwezige.value}},
{{/each}}
</span>
</div>
<hr>
{{/each}}

<div class="details">
<div class="details-list">
{{#each @getBesluiten.groupStemming as |geplande|}}
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Date}}</span> 
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Time}} | {{geplande.location.value}}</span><br>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="{{geplande.bestuursclassificatie}} ({{geplande.details.length}})">
{{#each geplande.details as | details|}}
<p><br>
<div class="stemming"><span class="green"></span> {{details.nbPro.value}}</div> 
<div class="stemming"><span class="orange"></span> {{details.nbAnti.value}}</div>
<div class="stemming"><span class="red"> </span> {{details.nbNoVote.value}}</div>
<span class="au-u-bold">{{details.description.value}}</span> <br> 
{{details.motivering.value}}
</p>
{{/each}}
</AuAccordion>
{{/each}}
</div>

</div>
</div>
</div>

{{!-- Page Archieven --}}
<div class="archieven au-u-regular {{this.identifier}}">
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="toggle" {{on "click" this.toggleClose}}></div>

<div class="head_cut">
{{!-- template-lint-disable no-log --}}
{{!-- {{log this.gemeente_search}} --}}
<span class="au-u-bold"> {{@getGemeente}}  </span> {{!-- | Inwoners : --}}<br>
<hr>
<div class="details">
<div class="details-list">
<h2 class="au-u-bold">Milieu- en afvalbeleid</h2>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="Aktename van het plaatsen van een bovengrondse
propaangastank">
  <div class="stemming"><span class="green">•</span>27</div> 
  <div class="stemming"><span class="orange">•</span>1</div>
  <div class="stemming"><span class="red">•</span>0</div>
  <p>I am information. I can even contain</p>
</AuAccordion>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="Aanvraag aanleggen tegeltuintje">
  <div class="stemming"><span class="green">•</span>27</div> 
  <div class="stemming"><span class="orange">•</span>1</div>
  <div class="stemming"><span class="red">•</span>0</div>
  <p>I am information. I can even contain</p>
</AuAccordion>
</div>
</div>
</div> 
</div>

{{!-- Page besturen --}}
<div class="besturen au-u-regular {{this.identifier}}">
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="toggle" {{on "click" this.toggleClose}}></div>

<div class="head_cut">
{{!-- template-lint-disable no-log --}}
{{!-- {{log this.gemeente_search}} --}}
<span class="au-u-bold"> {{@getGemeente}}  </span> | Inwoners : {{@getPopulation}} <br>
{{#each @getBestuur.een_burgemeester as | een_burgemeester|}}
<p>{{een_burgemeester.voornaam}} {{een_burgemeester.achternaam}} {{een_burgemeester.functie}} <span class="au-u-bold">{{een_burgemeester.fractie.value}}</span></p>
{{/each}}
<hr>
<span class="au-u-bold">College van Burgemeester en Schepenen</span><br>
{{#each @getBestuur.een_schepenen as |een_schepenen|}}
<p>{{een_schepenen.voornaam}} {{een_schepenen.achternaam}} {{een_schepenen.functie}} <span class="au-u-bold">{{een_schepenen.fractie.value}}</span></p>
{{/each}}
{{#each @getBestuur.een_tschepenen as |een_tschepenen|}}
<p>{{een_tschepenen.voornaam}} {{een_tschepenen.achternaam}} {{een_tschepenen.functie}} <span class="au-u-bold">{{een_tschepenen.fractie.value}}</span></p>
{{/each}}
<hr>
<strong class="au-u-bold">Gemeenteraadsleden</strong><br> 
{{#each @getBestuur.een_voorZgr as |een_voorZgr|}}
<p>{{een_voorZgr.voornaam}} {{een_voorZgr.achternaam}} {{een_voorZgr.functie}} <span class="au-u-bold">{{een_voorZgr.fractie.value}}</span></p>
{{/each}}
{{#each @getBestuur.een_gr as |een_gr|}}
<p>{{een_gr.voornaam}} {{een_gr.achternaam}} <span class="au-u-bold">{{een_gr.fractie.value}}</span></p>
{{/each}}
</div> 
</div>