<div class="search">
<AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
<PowerSelect
  @width="block"
  title="kie gemeente" 
  @icon="search"
  @allowClear={{true}}
  @disabled={{this.disabled}}
  @searchEnabled={{true}}
  @loadingMessage="Aan het laden..."
  @noMatchesMessage="Geen resultaten"
  @searchMessage="Typ om te zoeken"
  @identifier={{this.identifier}}
  @options={{this.singleselects}}
  @selected={{this.selected}}
  @onChange={{this.onChange}}
  @placeholder="Gemeente" as |singleselect|>
  {{singleselect}}
</PowerSelect>
</div>


<div id="besluitSearch" class="au-u-regular {{this.identifier}}">
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="toggle" {{on "click" this.toggleClose}}></div>
<div class="head_cut">
<span class="au-u-bold"> {{@get_Search}} </span><br>
<hr>

{{#each @getBesluitenSearch.groupAanwezige as |groupAanwezige|}}
<div>
<span class="aanwezig">
<span class="au-u-bold">Zitting</span>
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{groupAanwezige.geplande_Date}}</span> 
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{groupAanwezige.geplande_Time}} | {{groupAanwezige.location.value}}</span><br>
<span class="au-u-bold">Aanwezig {{groupAanwezige.naam_aanwezige.length}} personen </span>
{{#each groupAanwezige.naam_aanwezige as |naam_aanwezige|}}
{{naam_aanwezige.agendapunt_aanwezige.value}},
{{/each}}
</span>
</div>
<hr>
{{/each}}
<div class="details">
<div class="details-list">
{{#each @getBesluitenSearch.groupStemming as |geplande|}}
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Date}}</span> 
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Time}} | {{geplande.location.value}}</span><br>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="{{geplande.bestuursclassificatie}} ({{geplande.details.length}})">
{{#each geplande.details as | details|}}
<p><br>
<div class="stemming"><span class="green"></span> {{details.nbPro.value}}</div> 
<div class="stemming"><span class="orange"></span> {{details.nbAnti.value}}</div>
<div class="stemming"><span class="red"> </span> {{details.nbNoVote.value}}</div>
<span class="au-u-bold">{{details.description.value}}</span> <br> 
{{details.motivering.value}}
</p>
{{/each}}
</AuAccordion>
{{/each}}
</div>

{{!-- groupStemming1 --}}
{{!-- <div class="details-list">
{{#each this.getBesluiten.groupStemming1 as |geplande|}}
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Date}}</span> 
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Time}} | {{geplande.location.value}}</span><br>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="{{geplande.bestuursorgaan}} ({{geplande.details.length}})">
{{#each geplande.details as | details|}}
<p><br>
<div class="stemming"><span class="green"></span> {{details.nbPro.value}}</div> 
<div class="stemming"><span class="orange"></span> {{details.nbAnti.value}}</div>
<div class="stemming"><span class="red"> </span> {{details.nbNoVote.value}}</div>
<span class="au-u-bold">{{details.description.value}}</span> <br> 
{{details.motivering.value}}
</p>
{{/each}}
</AuAccordion>
{{/each}}
</div> --}}
{{!-- <div class="details-list">
<h2 class="au-u-bold">Milieu- en afvalbeleid</h2>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="Aktename van het plaatsen van een bovengrondse
propaangastank">
  <div class="stemming"><span class="green">•</span>27</div> 
  <div class="stemming"><span class="orange">•</span>1</div>
  <div class="stemming"><span class="red">•</span>0</div>
  <p>I am information. I can even contain</p>
</AuAccordion>
<AuAccordion class="accordion" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="Aanvraag aanleggen tegeltuintje">
  <div class="stemming"><span class="green">•</span>27</div> 
  <div class="stemming"><span class="orange">•</span>1</div>
  <div class="stemming"><span class="red">•</span>0</div>
  <p>I am information. I can even contain</p>
</AuAccordion>
</div> --}}

</div>
</div>
</div>