<div class="search">
<AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
<PowerSelect
  @width="block"
  title="kie gemeente" 
  @icon="search"
  @allowClear={{true}}
  @disabled={{this.disabled}}
  @searchEnabled={{true}}
  @loadingMessage="Aan het laden..."
  @noMatchesMessage="Geen resultaten"
  @searchMessage="Typ om te zoeken"
  @identifier={{this.identifier}}
  @options={{this.singleselects}}
  @selected={{this.selected}}
  @onChange={{this.onChange}}
  @placeholder="Gemeente" as |singleselect|>
  {{singleselect}}
</PowerSelect>
</div>

{{!-- Page index --}}
<div id="indexpage" class="au-u-regular {{this.identifier}}">
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="toggle" {{on "click" this.toggleClose}}></div>

<div class="head_cut">
{{!-- template-lint-disable no-log --}}
{{!-- {{log this.gemeente_search}} --}}
<span class="au-u-bold"> {{@get_Search}}  </span> {{!-- | Inwoners : --}}<br>
<hr>
</div> 
</div>